/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- general ------- */

body {
  background: url("../../assets/backgrounds/isopleths.png");
  display: flex;
  justify-content: center;
}

.modal-container {
  background-color: #cccaca47;
  margin: 4em;
  padding: 1.5em 2em 2.5em 3em;
  width: 40vw;
  border-radius: 3px;
}

.exit,
h1,
.name,
.email,
.message,
.submit,
.reset {
  font-family: Alegreya Sans SC, sans-serif;
  color: #737373;
}

.exit {
  text-align: right;
}

h1 {
  font-size: 1.4em;
  font-weight: 300;
  letter-spacing: 0.09em;
  border-bottom: 0.4px solid #737373;
  max-width: fit-content;
  line-height: 1.8em;
  margin-bottom: 3em;
}

label {
  margin-bottom: 0.7em;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3em;
}

.name {
  display: flex;
  flex-direction: column;

  font-weight: 300;
  letter-spacing: 0.09em;
  width: 15em;
}

#name {
  width: 14em;
  padding: 0.3em;
  background-color: transparent;
  margin-right: 2em;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
}

input:focus {
  outline: 1px solid #737373;
  color: #737373;
  letter-spacing: 0.09em;
  background: transparent;
}

.email {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  letter-spacing: 0.09em;
  font-weight: 300;
  text-transform: capitalize;
}

#email {
  width: 14em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
}

#email:focus {
  outline: 1px solid #737373;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
  letter-spacing: 0.09em;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
  letter-spacing: 0.09em;
  font-weight: 300;
}

textarea {
  width: 16em;
  padding: 0.3em;
  background-color: transparent;
  font-family: Alegreya Sans, sans-serif;
  color: #a4a4a4;
  letter-spacing: 0.09em;

  padding: 1em 1.5em;
  width: auto;
  font-size: 0.8em;
}

textarea:focus {
  outline: 1px solid #737373;
  font-family: Alegreya Sans, sans-serif;
  color: #737373;
  letter-spacing: 0.09em;
}

input,
textarea {
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.buttons {
  margin-bottom: 3em;
}

.submit {
  margin-right: 1em;
  padding: 0.4em 4em;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  font-weight: 300;
  background-color: #fffcfc;
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.submit:hover {
  color: #ededed;
  background: #5c7548;
  font-weight: 500;
}

.reset {
  padding: 0.4em 2em;
  letter-spacing: 0.09em;
  text-transform: lowercase;
  color: #ededed;
  font-weight: 300;
  background: #969696;
  border: 0.4px solid #737373;
  border-radius: 3px;
}

.reset:hover {
  color: #ededed;
  /* color: #737373; */
  background-color: #db5453;
  font-weight: 500;
}

/* ------- footer ------- */

.soc-media {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-self: center;
  justify-items: left;
  text-align: end;
}

.facebook,
.instagram {
  margin: 0 0.5em 1em 0.5em;
}

#logo {
  width: 2.5em;
}

#fb-img,
#insta-img {
  width: 1em;
}
