/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- general ------- */

@font-face {
  font-family: "Ailerons";
  src: url(../../assets/font/Ailerons/Ailerons.ttf) format("truetype");
}

html {
  min-height: 100vh;
}

body {
  background-image: url("../../assets/backgrounds/isopleths.png");

  font-family: "Alegreya Sans", sans-serif;
}

/* ------- header / nav / search ------- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  justify-content: center;
  font-size: 1.5em;

  margin: 2em 2em 1em 2em;
}

.navigation {
  display: flex;

  justify-content: space-between;

  margin: 0.5em 0.5em;

  font-size: 0.8em;
  font-weight: 50;
  text-transform: uppercase;
}

.logo {
  display: flex;

  align-items: center;
  flex-flow: column;

  margin: 4em 2em 4em 5em;
}

a {
  margin: 0 1.2em;
  text-decoration: none;
  color: #595858;
}

a:hover {
  font-weight: bolder;
}

form {
  margin: 0.5em 0.5em 1.5em 0.5em;
  display: flex;

  border-radius: 5px;
  padding: 2px;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

input[type="search"] {
  border: none;
  background: white;
  margin: 0;
  padding: 5px 5px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  /* these two hide the button text */
  text-indent: -999px;
  overflow: hidden;

  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 0.3;
}

button[type="submit"]:hover {
  opacity: 1;
}

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #868686;
  outline: none;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

/* ------- IMG ------- */

img {
  display: flex;
  max-width: 100%;
  flex-grow: 1;
}

#logo {
  float: left;
  width: 7em;
  margin-bottom: 1em;
}

.cover-image {
  /* covers the whole page */
  width: 150vw;
  overflow: visible;
  margin: unset;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 0 4em 4em 4em;
}

.img-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
  margin: 0 2em 0 4em;
}

#fb-img,
#insta-img {
  max-width: 1.7em;
  margin: auto 0.5em;
}

#vrana,
#dabrovi,
#gorice,
#pokupsko {
  border-radius: 10px;
  width: 30em;
  max-height: 18em;
}

/* ------- TXT ------- */

.logo-txt {
  float: left;

  color: #595858;
  font-family: "Ailerons";
  font-size: 1.5em;
  font-weight: 50;
}

.img-description {
  margin-top: 2em;
  font-weight: 100;
  color: #595858;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

h2 {
  font-family: Alegreya Sans SC, sans-serif;
  color: #737373;
  font-size: 3em;
  font-weight: 300;
  text-align: center;
}

.blogposts {
  margin-top: 4em;
}

.thumbnail {
  margin: 1em 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thumbnail-txt {
  padding: 2em 3em 3em 3em;
  font-size: 1.2em;
  color: #737373;
  line-height: 1.5em;
  font-weight: 300;
}

.gallery-header {
  margin: 2em 0 0.5em 0;
  text-transform: capitalize;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  margin: 0 0 2.5em 0;
  font-size: 1em;
  font-weight: 50;
  text-transform: uppercase;
}

/* ------- grid ------- */

.thumbnail-container {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;

  margin: 7em 10em;
}

#blog-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  background-color: #edecec;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 10px;

  margin-bottom: 4em;
}
#blog-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #edecec;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 4em;
}
#blog-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #edecec;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 4em;
}

#blog-4 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  background-color: #edecec;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-bottom: 4em;
}

.about {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: auto;

  background-color: #afafaf4c;
}

#about-photo {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
  max-width: 85%;
}

.about-header {
  grid-column: 3;
  grid-row: 1 / 2;

  display: flex;
  align-items: end;
  justify-content: center;
  margin-right: 1em;
  margin-bottom: 2em;
}

.about-txt {
  grid-column: 3;
  grid-row: 2 / 3;
  font-size: 1.5em;
  margin: 1em 3em 1em 1em;
  color: #737373;
  font-weight: 300;
  line-height: 1.5em;
  word-break: break-all;
}

/* ------- footer ------- */

footer {
  display: flex;
  flex-direction: column;
  margin: 3em 0 4em 0;
}

#home2,
#about2,
#blog2,
#contact2 {
  margin: 0 2em;
}

.soc-media {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-self: center;
  justify-items: left;
  text-align: end;
}

.facebook,
.instagram {
  margin: 0 0.5em 1em 0.5em;
}

.logo-txt-2 {
  font-family: "Ailerons";
  font-weight: 50;
  font-size: 2em;
  color: #7f7f7f;
}

/* ------- lines ------- */

.line-1 {
  border-bottom: 1px solid #7373736e;
  margin: 2.5em 32em;
}

.line-2 {
  border-bottom: 1px solid #7373736e;
  grid-column: 3;
  grid-row: 1 / 2;

  margin: 0 12em 4em 10em;
}

.line-3 {
  border-bottom: 1px solid #7373736e;
  margin: 4em 20em 0 20em;
  padding: 5em 5em;
}

/* ------- blog thumbnails ------- */

.thumbnail > a {
  margin: 0;
}

a > img {
  opacity: 0.5;
}

.thumbnail:hover {
  transform: translateY(-2em);
  transition: 0.7s;
}

/* 

this combination allows to click on things and animate opacity 0 <-> 1

opacity: 0;
pointer-events: none; */

/* ------- slider ------- */

.slide-container {
  display: flex;

  width: 100%;
  height: 60vh;
  align-items: center;
  overflow: hidden;
}

.image-slider {
  display: flex;

  width: 100%;
  height: 30em;
  position: absolute;
  left: 0;
  justify-content: center;
  align-items: center;

  transition: 0.7s;
}

.slides-div {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 0 30px;
}

.img {
  position: relative;

  height: 100%;
  width: 20em;

  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.button {
  position: absolute;

  width: 20em;
  height: 20em;

  transition: 0.5s;
}

.button:hover {
  background-color: transparent;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1,
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2,
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3,
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 40em;
  height: auto;
  margin: 0 0.7em;

  background-color: transparent;
}

#slider-span1:target ~ .image-slider,
#slider-span2:target ~ .image-slider,
#slider-span3:target ~ .image-slider,
#slider-span4:target ~ .image-slider {
  left: 0%;
}

/* SLIDER - MODAL - big imgs */

.modal {
  background-color: rgba(0, 0, 0, 0.6);

  /*  this combination allows to click on things and animate opacity 0 <-> 1  */
  opacity: 0;
  pointer-events: none;

  /* covers everything */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: 0.25s ease-out;
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.img-modal {
  position: absolute;
  height: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}

/* when we click, it is going to add class "open" to it and expand */
.img-modal.open {
  transform: translate(-50%, -50%) scale(1);
}

.slide-container2 {
  display: flex;
  align-items: center;
  padding-left: 4em;
  margin: 5em 0 7em 0;

  /* overflow: hidden; */
}

.slider {
  width: 70%;
  height: 50vh;
  margin: 0 auto;
  position: relative;

  /* overflow: hidden; */
}

.slide {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: auto;

  transition: transform 1s;
}

.slide > img {
  width: 15em;
  height: auto;
  object-fit: cover;
  margin: 0 2em;
}

/* DOTS */

.dots {
  text-align: center;
  margin: 2em 0 10em 0;
}

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  background-color: #888;
  opacity: 1;
}
